<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center">
      Skills
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Skills</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header style="text-align:center">
      <ion-card-title><h1>Work in Progress</h1></ion-card-title>
      <h2>Stay tuned</h2>
      <ion-spinner style="text-align:center" name="dots" color="tertiary"></ion-spinner>
    </ion-card-header>
  </ion-card>


  <!-- skills Headers -->
<ion-grid>
  <ion-row>

      <ion-col>
        <ion-card size="6" size-lg offset="3"> 
          <h2 style="text-align:center">Soft Skills</h2>
        </ion-card>
      </ion-col>

        <ion-col><ion-card size="3" size-lg>
          <h2 style="text-align:center">Hard Skills</h2>
        </ion-card>
      </ion-col>

  </ion-row>
</ion-grid>


  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
