

<ion-card class="back">
  <ion-card-subtitle>
    <ion-card>
      <h2 style="text-align:center; font-size: 1.25em;">Childhood and Family Values</h2>
    </ion-card>
  </ion-card-subtitle>
    <p>Going back to being the youngest of ten; I've seen much hardships, not only in my life but in my family as well. We were never wealthy or even middle class. We struggled but as a family were always together. Foodstamps were a lifeline for us. Government assistance was no stranger for us. 
      There's a tension in this upbringing. Or moreso a balance if you look long and hard enough. The tension is the perception that financial security is the end goal. But in reality, security without relationship is a terribly lonely thing. Scary in fact. Money isn't a guarantee. Tools break and get stole, lost, and lose value. 
      I suppose money is the same. A tool not always reliable. A powerful one, absolutely. However, it is no saviour. People are and money is a powerful tool for aid.
      In the history of mankind, despite the struggle, we have conquered all hardships together. 
      This is where my perspective of balance has given me peace in knowing the better option. </p> 

    <p class="center_text">People | relationships | community</p>

    <p class="center_text">These are the better options</p> 

      <p>Throughout our struggle as a family, we were always that. Family. ten boxcar children thriving in the midst of struggle. I've seen sacrifice, even when it seemed to cost one of us so much. Yet, our love and connection was the fruit of such a cost. 
        I know the better option, and from this upbringing, I've come to devalue finances as a "need" (from the misunderstanding that people seem to think it's a human-core need) and moreso a tool.
        On the topic of relationship, struggle can bring out the truest form of who we are. all the brokeness and ugliness.
        It's east to be clean, cut, and proper when life is easy, but when it's not, all of us is exposed. But the beauty of this is the opportunity to excercise grace.
        Grace that we are all fallible, and none are innocent from offense or judgemental assumptions. The ugliness of people tells us more about ourselves than them. How will we choose to engage in the ugliness of brokeness? It's always a choice. 
        Or the battle or reaction vs. responding. Being reactive exposes a loss of identity, powerlessness in fact. How others treat me will not determine how I treat them. I will respond out of who I am, not react on how I'm treated. 
        Hurting people hurt people and despite the hurt in me, I will do whatever is in me to avoid hurting.</p>

      <p class="center_text">The power of communication and compassion<br>Self-awareness and empathy<br>Grace and connection</p>
     
     <p>It's rarely ever the tool, and almost always the carpenter. The tools are only as helpful, destructive, or efficient as the one wielding it.
      Much like coding. A poorly written loop could cause irreparable damage. (insert nervous sweating emoji)</p>
</ion-card>



<ion-card class="back">
  <ion-card-subtitle>
  <ion-card>
    <h2 style="text-align:center; font-size: 1.25em;">Health & Transparency</h2>
  </ion-card>
  </ion-card-subtitle>
  
  <p>Transparency can be the scariest way of living life. It's personal. Raw. Unfiltered. Uncovered. Exposing.</p>
  <p>Yet</p> 
  <p class="center_text">powerful | Empowering | Liberating</p>
  <p>Not only for ourselves but also for others.</p>
  <p>When I was a child, and a teenager, there was so much shame and embarassment tied to my history. I felt pitied much of the times. Catered to. I would become conversation points. Never negatively, but the attention was. Or so I percieved it that way.
    I wanted to pretend it never happened. I wanted to hide my past. I hated how much of my childhood was robbed because of cancer. Nearly four years of my fourteen years of living, probably ten of concious memories, taken by sickness and shame. That's over thirty percent of my childhood.
    It wasn't until I was about eighteen / nineteen that I truly began to own my history. To welcome the whole of myself. Not just the parts I perceived as good, welcoming, or easy conversations during social story-time.
  </p> 
  <p>
    As I grew in self-love and grace, learning to process my past and look unshamefully, I began to see the dominoes.</p>
  
  <p class="center_text">Actions | Life | People </p>
  
  <p>
    All play a role in the dominoes that connect to our present selves and present relationships.
    Whether it's good? Well, perception is a thief or a giver. A tool we choose how to use. I could perceive my past, childhood, cancer, depression, loneliness as anything but good.
    But as I see now how all of my past has aligned into who I am today, I'm thankful. I've looked at the ugly parts and seen the beauty. I've exchanged hardships with compassion and empathy.
    I've exhanged loneliness with human kindness. I've exchanged shame with understanding and rest. I've choosen to let the present me lay the dominoes of change that will birth a better tomorrow.
  </p>
  <p>
    transparency tells the world and others, "I am me and how you choose to see me will not influence my own self-love, compassion, or boldness."
    Boldness to have uncomfortable conversations about tragedy and life.
    Not to be confused with vulnerability.
    Vulnerability allows others to hurt or heal, accept or reject us in the midst of struggle. It gives them a say into us.
    Transparency allows others to see our past and current self. Our motives, agendas. It gives them invitations into us.
  </p>
  <p>
    Why is transparency such an empowering way of living life? Well, cancer has gifted me with this outlook.
    You could argue cancer is the hardest sickness to overcome. and lengthiest. It's no common cold. The flu pales in comparison.
    I've experienced sickness. Crippling. Hospitalizing. Hair thieveing. Life-sucking. Friends passing from it as I wondered what the difference was between me and them.
    Or is there no difference at all and the odds are equally against me?
    After having gone through that, the cold doesn't seem worth my time.
    I'm sure I still get colds or aches but maybe my threshold for discomfort and illness is higher due to my experiences.
    It's like marathon runners. Exposure to running distances extended over time extends ones threshold for endurance and discomfort.
    Cancer is the ultra-marathon for sickness and compared to that, the occasional mile of the common cold is childs-play.
  </p>
  <p>
    This is where transparency can be the saving grace for others. Who am I to shame and mock others who's sickness is just as real but not as comparatively severe?
    I am no expert to their experience of illness. What if the flu is in fact the most sick they've ever been? This could be like dying to them. This could be their 'cancer'.
    But having experienced cancer, I can play the role of pace setter. The marathon runner who, knowing the capabilities of the human body and its resilience, can give the perspective that life is conquerable.
    Illness can pass. We will be better off tomorrow than we are today. There's hope in tomorrow. As the sun rises at the darkest moments of the night, night surely passes.
    We have the opportunity to be the saving grace and champions in the life of others. Simply by owning our past, and choosing to love ourselves.
  </p>
  <p class="center_text">
    We don't have time to give space for shame and guilt to occupy our lives.
  </p>
 
  <p class="center_text">
    We must exchange that for
  </p>

  <p class="center_text">
    Grace | Compassion | Love
</p>
<p class="center_text">We owe it to ourselves | We owe it to others</p>
</ion-card>