<ion-header [translucent]="true">
  <ion-toolbar>
    <h1 style="text-align:center">
      Skills
    </h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Skills</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
        <ion-col>
            <ion-button 
            size="6" color="light" expand="block" (click)="softSkill($event)">
            <h2 class="style">Soft</h2>
          </ion-button>
        </ion-col>
  
        <ion-col>
          <ion-button 
          size="3" color="light" expand="block" (click)="hardSkill($event)">
          <h2 class="style">Hard</h2>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>

