<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center">
      Projects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Projects</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-card style="background-color: rgba(1, 94, 67, 0.185);">
    <ion-grid class="text">
      <ion-row>
          <ion-col>
            <ion-button style="height: fit-content;"
            size="6" color="light" expand="block">
                <h2>Timely App</h2>
          </ion-button>

          <ion-card style="background-color: rgba(216, 213, 213, 0.062);">
          
          <ion-row style="justify-content: space-around; margin-left:-3em">
              <ul>REACT</ul>
              <ul>JAVA</ul>
              <ul>MySQL</ul>
        </ion-row>
      </ion-card>

        <ion-row class="text" style="display: flex; text-align: center;">
        <p>Timely was my Bethel Tech's final project. As a team of 5 spanning 3 timezones (one being India), the goal was to present an application that would use the past 4 weeks of input sales to render a weeks worth of projected sales.</p>
        <p>As a user, you could input the percentage for labor cost. This input value, rendered to a percentage multiplied by the forcasted sales, would generate your labor cost. This would enable you to see how much money in labor you have to spend without going over labor cost projections.</p>
        </ion-row>

        <br>
        
          <ion-card button color="light" expand="block" ion-button (click)="timelyFe()">
            <ion-row class="button">
              Link to Timely Front-End Github Repo
            </ion-row>
          </ion-card>
          <ion-card button color="light" expand="block" ion-button (click)="timelyBe()">
            <ion-row class="button">
              Link to Timely Back-End Github Repo
            </ion-row>
          </ion-card>

        </ion-col> 
    </ion-row>
  </ion-grid>
</ion-card>

<br>

<ion-card style="background-color: rgba(0, 106, 124, 0.185);">
  <ion-grid class="text">
    <ion-row>
        <ion-col>
          <ion-button style="height: fit-content;"
          size="6" color="light" expand="block">
              <h2>E-Book App</h2>
        </ion-button>

        <ion-card style="background-color: rgba(216, 213, 213, 0.062); justify-content: center;"> 

          <ion-row style="justify-content: space-around; margin-left: -3em;">
            <ul>Angular</ul>
          </ion-row>
      </ion-card>

       <ion-row class="text" style="display: flex; text-align: center;">
            <p>E-Book style App with routing between chapters, pages, forward & back</p>
      </ion-row> 
 
        <br>

          <ion-card button size="3" color="light" expand="block" ion-button (click)="ebookUrl()">
            <ion-row class="button">
              Link to E-Book Github Repo
            </ion-row>
          </ion-card>

        </ion-col> 
    </ion-row>
  </ion-grid>
</ion-card>

 
    <ion-card-header style="text-align:center">
      <h4>More to Come</h4>
      <ion-spinner style="text-align:center" name="dots" color="tertiary"></ion-spinner>
    </ion-card-header>

  
</ion-content>
