.button {
    color: rgb(167, 167, 167);
    display: flex; 
    justify-content: center; 
    align-content: center; 
    height: 1.5em;
}
.button:hover {
    background-color: rgba(153, 152, 152, 0.233);
    color: white;
}


.text {
    color: rgb(167, 167, 167);
    justify-content: center;
}
.text:hover {
    color: white;
}